@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Allura&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



body{
    background-color:#D7E4C0 ;
    color:#74492c;
margin-left: 50px;
margin-right:50px;

    font-family: "Spectral", serif;
    text-align:justify;
 
  

}

h3{
    font-family: "Allura", cursive;
    font-size: 2.5em;   
    margin:0;
    text-decoration: underline dotted;
}

img{
    display: block;
    margin: auto;
    width: 50%;
    max-width: max-content;
}
table{
width:50%;
text-align: center;,
border:1px dotted #74492c;
margin:auto

}

th{
    border-bottom: 1px solid #74492c;
}
td{
    padding: 3px;
}
figure{
    float:right;
    margin:0;
    margin-left:20px;
}

figcaption{

    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}


blockquote{
    font-style: italic;
}

a{
    color: #74492c;
    font-weight: bold;
}
ul{
    list-style-type: armenian;
    margin: 0;
}
.romai{
    list-style-type: upper-roman;
}

h5{
    font-weight: 900;
}

/*Menü stílusa*/    

 #menu li{
    display: inline-block ;
    padding: 20px;
}

#menu li ::after{
border-right: 1px solid #D7E4C0;
}

li a{
    text-decoration: none;
    color: #D7E4C0;
    font-weight: bold;
}


#menu{
    background-color: #74492c;
}

li a :hover{
color:blue
}

main{
    background-color: #bcbc6c;
    padding: 1% 3%;
    margin: 0;

}

nav{
    margin: 0;
}

.forras{
width: 66%;
float:left;

}


.keszito{
width: 33%;
float:left;
text-align: center;

}

.forras h3, .keszito h3{
    font-size: 1,5em;
}

.forras a{
    font-weight: 400;
}











































































